<template>
  <v-content>
    <h1 style="margin-top:10px" class="text-center">A propos</h1>
    <section>
      <v-layout
        column
        wrap
        class="my-12"
        style="margin-top:-15px !important;
    margin-bottom:10px !important;"
        align-center
      >
        <v-flex xs12 style="width:100%">
          <v-container grid-list-xl>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-web</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Projet</div>
                  </v-card-title>
                  <v-card-text style="text-align:justify">
                    Ce projet a été réalisé dans le cadre de notre cursus universitaire.
                    <br />Le but de ce dernier est de créer une interface web permettant de visualiser les données d'une API disponible.
                    <br />Comme proposé durant nos travaux pratiques, nous avons utilisé l'API de la SNCF permettant de récupérer diverses
                    informations utiles (ou non) sur la circulation et les infrastructures ferroviaires françaises.
                    <br />Nous nous sommes donc servis de cet outil pour récupérer les données utiles pour notre application web, telle que
                    la raison de voyage des usagers d'un train par région.
                    <br />Nous avons, par la suite, utilisé divers modules javascript, rattachés à vuejs pour faire une visualisation efficace et
                    attrayante de ces données.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-account</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Développeurs</div>
                  </v-card-title>
                  <v-card-text>
                    <Avatar
                      nom="Lucas Gancel"
                      profession="M2 IDC Student"
                      style="margin-bottom:10px"
                    />
                    <Avatar nom="Nicolas Hoffmann" profession="M2 IDC Student" />
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="blue--text text--lighten-2">mdi-developer-board</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Technologies</div>
                  </v-card-title>
                  <v-card-text class="text-center">
                    <img src="../../assets/vuetify.png" alt="Vuetify.js" height="100" />
                    <br />
                    <img src="../../assets/vuejs.png" alt="VueJS.js" height="100" />
                    <br />
                    <img src="../../assets/nodejs.png" alt="NodeJS.js" height="100" />
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>
  </v-content>
</template>
<script src="./lib/About.js"></script>