<template>
  <v-app>
    <v-toolbar style="position: fixed;
    height: 48px;
    top: 0;
    z-index: 1;
    width: 100%;" dense :src="'https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg'">
      <v-toolbar-title>SNCFDataviz'</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn v-for="item in menu" :key="item.icon" :to="item.to" text>{{ item.title }}</v-btn>
      </v-toolbar-items>
      <v-menu class="hidden-md-and-up">
        <template v-slot:activator="{ on }">
          <v-btn class="hidden-md-and-up" icon v-on="on"><v-icon>mdi-menu</v-icon></v-btn>
        </template>
        <v-list style="margin-top:10px">
          <v-list-item v-for="item in menu" :key="item.icon" :to="item.to">
              <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>

    <v-content style="min-height:calc(100vh - 48px); margin-top:48px">
      <feedBack />
      <router-view />
    </v-content>
  </v-app>
</template>

<style>
.v-btn__content,
.v-toolbar__title {
  color: white !important;
}
.v-btn--active {
  background-color: #ffffff66 !important;
}
</style>
<script>
import FeedBack from "./components/feedBack/feedBack";

export default {
  name: "App",
  components: {
    FeedBack
  },
  data() {
    return {
      menu: [
        { icon: "home", title: "Accueil", to: "/" },
        { icon: "info", title: "Raison de voyage", to: "/travelreason" },
        { icon: "warning", title: "Bilan par année", to: "/yearlySummaries" },
        { icon: "1", title: "Evolution de la satisfaction", to: "/diagram" },
        { icon: "2", title: "Carte", to: "/MapVisualisation" },
        { icon: "3", title: "A propos", to: "/about" }
      ]
    };
  },
  methods: {
    menuItems() {
      return this.menu;
    }
  },

  computed: {
    role() {
      if (!this.$store.state.user) {
        return -1;
      } else {
        return this.$store.state.user.rank;
      }
    }
  }
};
</script>
