

<script src="./lib/filtering.js"></script>
<style src="./lib/filtering.css" scoped></style>
<template>
  <v-card max-width="450" class="mx-auto">
    <v-toolbar class="degrade" dark>
      <v-toolbar-title>Filtres</v-toolbar-title>
    </v-toolbar>
    <div class="divinfo" v-if="!filter">
      <v-alert
        border="top"
        colored-border
        type="info"
        elevation="2"
      >Pas de filtres pour cette sélection.</v-alert>
    </div>
    <div class="divinfo" v-else>
      <v-select
	    v-model="filter.selected"
        v-bind:key="filter.name"
        :items="filter.values"
        :label="filter.name"
        outlined
      ></v-select>
    </div>
  </v-card>
</template>