.degrade{
    background-image: radial-gradient(circle at top left, #1856a7, #18286e) !important
}

v-input {
    margin: 0;
}
#list {
    max-height: calc(100% - 64px);
    overflow-y: auto;
}

#head {
    height: 64px !important;
}