<template>
    <v-container fluid>
        <v-row>
            <v-col class="text-center" cols="12">
                <h1>Mise en relation de la satisfaction et de la propreté des gares</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col offset-md="1" offset-sm="0" offset-xs="0" md="10" sm="12" xs="12">
                <yearSummary :year="2017"></yearSummary>
                <v-divider></v-divider>
                <yearSummary :year="2018"></yearSummary>
                <v-divider></v-divider>
                <yearSummary :year="2019"></yearSummary>
            </v-col>
        </v-row>
    </v-container>
</template>

<script src="./lib/YearlySummariesView.js"/>

<style src="./lib/YearlySummariesView.css" scoped/>