

<script src="./lib/list.js"></script>
<style src="./lib/list.css" scoped></style>
<template>
  <v-card max-width="450" class="mx-auto">
    <v-toolbar class="degrade" dark>
      <v-toolbar-title>{{title}}</v-toolbar-title>
    </v-toolbar>

    <v-list three-line class="overflow-y-auto" style="max-height:85%">
        <v-list-item-group v-model="selection" active-class="highlighted">
            <template v-for="(item, index) in items">
                <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>
                <v-list-item v-else :key="index" @click="clickMenu(index)">
                <v-list-item-content>
                    <v-list-item-title v-html="item.title"></v-list-item-title>
                    <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                </v-list-item-content>
                </v-list-item>
                <v-divider
                        v-if="index + 1 < items.length"
                ></v-divider>
            </template>
        </v-list-item-group>
    </v-list>
  </v-card>
</template>