<template>
  <v-flex xs12 id="flexContainer" style="height:calc(100vh-48px)">
    <v-container grid-list-xl style="height:100%">
      <v-layout row wrap align-center style="height:100%">
        <v-flex xs12>
          <h1 class="text-center">Comparaisons année par année du niveau de satisfaction entre gares</h1>
        </v-flex>
        <v-flex xs12 md4 style="height:90%">
          <div id="list" class="d-flex">
            <ListCheck title="Choissisez une gare" v-bind:items="stations" />
          </div>
        </v-flex>
        <v-flex xs12 md8 style="height:90%">
          <div class="center">
            <div class="text-center">
              <PulseLoader v-if="loading"></PulseLoader>
            </div>
            <div class="chart-container">
              <v-card style="padding:7px">
                <BarChart :chartdata="currentChart" :options="options"></BarChart>
              </v-card>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script src="./lib/DiagramView.js"/>

<style src="./lib/DiagramView.css" scoped/>