<template>
<v-card style="margin-bottom:10px">
  <v-flex xs12>
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs12>
          <v-card-title>Bilan de l'année {{year}}</v-card-title>
        </v-flex>
        <v-flex xs12 md9>
          <div class="text-center">
            <PulseLoader v-if="loading"></PulseLoader>
          </div>
          <div>
            <LineChart :options="options" :chartdata="currentChart"></LineChart>
          </div>
        </v-flex>
        <v-flex xs12 md3>
          <Filtering v-bind:filter="filter" style="margin-top:-60px" />
          <v-card max-width="450" style="margin-top:5px" class="mx-auto">
            <v-toolbar class="degrade" dark>
              <v-toolbar-title>Afficher</v-toolbar-title>
            </v-toolbar>
            <div class="divinfo">
              <v-checkbox v-model="selected" label="Propreté" value="Cleaness"></v-checkbox>
              <v-checkbox v-model="selected" label="Satisfaction" value="Satisfaction"></v-checkbox>
              <v-checkbox v-model="selected" label="Fréquentation" value="Frequenting"></v-checkbox>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</v-card>
</template>


<script src="./lib/yearSummary.js"></script>
<style src="./lib/yearSummary.css" scoped></style>