<template>
  <v-container style="width:100%;height:100%">
    <div id="mapDiv">
      <div id="map"></div>

      <!--div id="legend" style="padding-top:5px; padding-left:15px;">
      <span v-for="(legend, keya) in legends" v-bind:key="keya"></span>
      </div-->
    </div>
    <v-container v-if="legends" class="legend text-center">
      <v-layout row wrap align-center>
        <v-flex v-for="(legend, keya) in legends" v-bind:key="keya" xs12 md4>
          <img
            :src="require('../../assets/leaflet-icons/marker-icon-'+legend.marker+'.png')"
            alt="Pointeur Vert"
          />
          {{legend.text}}
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script src="./lib/map.js"></script>
<style src="./lib/map.css"></style>