<template>
    <v-flex xs12 id="flexContainer" style="height:calc(100vh-48px)">
    <v-container grid-list-xl style="height:100%">
        <v-layout row wrap align-center style="height:100%">
            <v-flex xs12>
                <h1 class="text-center">Localisation des équipements SNCF</h1>
            </v-flex>
            <v-flex xs12 md4 style="height:90%">
                <List style="height:70%;" title='Choissisez les informations à afficher' v-bind:items='menu'/>
                <Filtering style="height:25%; margin-top:5%" v-bind:filter='filter'/>
            </v-flex>
            <v-flex xs12 md8 style="height:90%">
                <PulseLoader color='#00bcd4' v-show="loading" style="display: flex;height: 100%;align-items: center;margin:auto"></PulseLoader>
                <Map v-show="!loading" v-bind:dataAPI='dataAPI' v-bind:selection='menu[menuSelect]' />
            </v-flex>
        </v-layout>
    </v-container>
    </v-flex>
</template>

<script src="./lib/MapVisualisation.js"></script>
<style src="./lib/MapVisualisation.css" scoped></style>

