<template>
  <!--div class="home">
    <v-btn @click='test()' class="ma-2" color="primary" dark>Accept
        <v-icon dark right>mdi-checkbox-marked-circle</v-icon>
      </v-btn>
  </div-->
  <v-content>
      <section>
        <v-parallax src="../../assets/hero.jpg" height="300">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
            style="background-color:rgba(10,10,10,0.5)"
          >
            <img src="../../assets/vuetify.png" alt="Vuetify.js" height="100">
            <h1 class="white--text mb-2 display-1 text-center">SNCFDataviz'</h1>
            <div class="subheading mb-4 text-center">by L. Gancel & N. Hoffmann</div>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >

          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-text class="text-center">
                      <v-icon x-large class="blue--text text--lighten-2">mdi-wrench</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Développé grâce à VueJS et NodeJS</div>
                    </v-card-title>
                    <v-card-text>
                      Les frameworks utilisés pour cette application sont à la pointe de la technologie.
                      VueJS et NodeJS sont des frameworks derniers cris qui sont largement utilisés dans des développements d'envergure.
                      Ces derniers permettent entre autre d'utiliser le gestionnaire de paquet NPM pour pouvoir se servir de nombreuses librairies, et ainsi favoriser
                      la réutilisation de développements existant.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-text class="text-center">
                      <v-icon x-large class="blue--text text--lighten-2">mdi-developer-board</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Hébergé sur une Raspberry et sur OVH</div>
                    </v-card-title>
                    <v-card-text>
                      La partie serveur ainsi que la base de données de notre application sont hébergées sur une Raspberry afin de pouvoir exécuter notre serveur NodeJS.
                      En effet les hébergeurs traditionnels ne permettent pas d'exécuter des serveurs NodeJS (en hébergement mutualisé).
                      La partie cliente de notre développement est hébergé chez OVH, et est donc accessible 24/24h 7/7j !
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-text class="text-center">
                      <v-icon x-large class="blue--text text--lighten-2">mdi-chart-line</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Données issues de l'API SNCF</div>
                    </v-card-title>
                    <v-card-text>
                      Nos données sont issus de l'API de la SNCF. Ces données ont été intégralement récupéré et traité afin de correspondre à nos attentes.
                      Nous avons fait le choix de ne pas simplement requêter l'API de la SNCF afin de ne pas être dépendant d'un site tiers ainsi que d'un format de données laborieux.
                      Nous faisons le choix de l'indépendance. Ce choix nous permet également de formater les données à notre guise, c'est ce que nous avons fait.
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      
    </v-content>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
 //   HelloWorld
  },
  methods:{
    test:function(){
      this.$store.commit("updateSnackMessage", "Bonjour");
      this.$store.commit("setSnackColor", "error");
      this.$store.commit("showSnack", true);
    }
  }
}
</script>
<style>
.v-parallax__content{
padding: 0 !important;
}
</style>
