<template>
  <v-flex xs12>
    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs12>
          <h1 class="text-center">Resultat des enquêtes sur les motifs de déplacement</h1>
        </v-flex>
        <v-flex xs12 md4>
          <div style="min-height:100px; height:calc(90vh - 200px) !important" class="d-flex">
            <List title="Choissisez une gare" v-bind:items="stations" />
          </div>
        </v-flex>
        <v-flex xs12 md8>
          <div class="center" style="width:100%">
            <div class="text-center">
              <PulseLoader v-if="loading"></PulseLoader>
            </div>
            <div id="chart" style="max-width:575px; margin:auto">
              <v-card>
                <v-card-title class="text-center" v-if="menuSelect != null">Motif de déplacement pour la gare de {{stations[menuSelect].title}}</v-card-title>
                <PieChart :chartdata="currentChart"></PieChart>
              </v-card>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script src="./lib/TravelReasonOverview.js"/>

<style src="./lib/TravelReasonOverview.css" scoped/>