#map{
    height:100%;
	width:100%;

}

#mapDiv{
	width: 100%;
	height: 90%;
	border: 1px solid gray;

}

.legend{
	border: 1px solid gray;
	margin-top:0;
	margin-bottom: 0;
}
/*
.marker-cluster-small {
	background-color: rgba(218, 94, 0, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(226, 36, 0, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(0, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
    }
   */ 
.marker-cluster-test{
    background-color: rgba(16, 59, 202, 0.418);
    border-radius: 12px;
    text-align: center;
    padding-top: 4px !important;
    width: 25px !important;
	height: 25px !important;
}