

<script src="./lib/listCheck.js"></script>
<style src="./lib/listCheck.css" scoped></style>
<template>
  <v-card style="width: 100%;">
    <v-toolbar class="degrade" id="head">
      <v-toolbar-title>{{title}}</v-toolbar-title>
    </v-toolbar>
      <v-btn dark style="width: 100%;border-radius:0;" v-on:click="uncheckAll">Tout déselectionner</v-btn>
    <v-list id="list">
        <template v-for="(item, index) in items" >
        <v-list-item>
            <v-checkbox v-model="selected" v-bind:label=item.title v-bind:value=index></v-checkbox>
        </v-list-item>
        <v-divider
                v-if="index + 1 < items.length"
                :key="index"
        ></v-divider>
        </template>
    </v-list>
  </v-card>
</template>